<!--О нас-->
<section class="section" id="about_us">
  <div class="container about-us">
    <ul class="about-image-list">
      <li class="about-image-item">
        <picture>
          <source
                  srcset="
                ./images/about-us/beard_270@1x.webp 270w,
                ./images/about-us/beard_270@2x.webp 540w,
                ./images/about-us/beard_270@3x.webp 810w"
                  type="image/webp"
                  media="(min-width: 1280px)"
                  sizes="25vw">
          <source
                  srcset="
                ./images/about-us/beard_330@1x.webp 330w,
                ./images/about-us/beard_330@2x.webp 660w,
                ./images/about-us/beard_330@3x.webp 990w"
                  type="image/webp"
                  media="(min-width: 768px)"
                  sizes="50vw">
          <img
               srcset="
                ./images/about-us/beard_270@1x.jpg 270w,
                ./images/about-us/beard_270@2x.jpg 540w,
                ./images/about-us/beard_270@3x.jpg 810w,
                ./images/about-us/beard_330@1x.jpg 330w,
                ./images/about-us/beard_330@2x.jpg 660w,
                ./images/about-us/beard_330@3x.jpg 990w"
               sizes="(min-width: 1280px) 270px, 50vw"
               src="./images/about-us/beard_330@1x.jpg"
               alt="стрижка бороды в барбершоп">
        </picture>

      </li>
      <li class="about-image-item">
        <picture>
          <source
                  srcset="
                ./images/about-us/hair_270@1x.webp 270w,
                ./images/about-us/hair_270@2x.webp 540w,
                ./images/about-us/hair_270@3x.webp 810w"
                  type="image/webp"
                  media="(min-width: 1280px)"
                  sizes="25vw">
          <source
                  srcset="
                ./images/about-us/hair_330@1x.webp 330w,
                ./images/about-us/hair_330@2x.webp 660w,
                ./images/about-us/hair_330@3x.webp 990w"
                  type="image/webp"
                  media="(min-width: 768px)"
                  sizes="50vw">
          <img
               srcset="
                ./images/about-us/hair_270@1x.jpg 270w,
                ./images/about-us/hair_270@2x.jpg 540w,
                ./images/about-us/hair_270@3x.jpg 810w,
                ./images/about-us/hair_330@1x.jpg 330w,
                ./images/about-us/hair_330@2x.jpg 660w,
                ./images/about-us/hair_330@3x.jpg 990w"
               sizes="(min-width: 1280px) 270px, 50vw"
               src="./images/about-us/hair_330@1x.jpg"
               alt="стрижка волос в барбершоп">
        </picture>
      </li>
    </ul>
    <div class="about-content">
      <h2 class="sub-title about-us">О НАС</h2>
      <strong class="about-title">Лучший Барбершоп <br> твоего города</strong>
      <p class="slogan about-us">Если ты хочешь добавить в свой образ больше уверенности – тебе точно
        к нам.</p>
      <p class="about-description">Мы команда, которая никогда
        не останавливается на достигнутом и жаждет перемен. И когда ты попадешь в руки нашего мастера, то уже
        никогда не сможешь быть прежним. Мы команда, которая всегда
        с клиентами "на одной волне". Поэтому,
        мы всегда готовы усовершенствовать каждого, кто к нам приходит!</p>
      <a class="button-order" href="#order-form" data-modal-open>онлайн-запись</a>
    </div>
  </div>
</section>