<!-- Our team -->
<section class="team" id="masters">
  <div class="container">
    <div class="tablet-container">
      <p class="sub-title team-description">
        для настоящих ценителей атмосферы
      </p>
      <h2 class="team-title">Наши мастера</h2>
      <ul class="people">
        <li class="item">
          <div class="thumb">
            <picture>
              <source
                srcset="
                  ./images/our-team-desk/john.webp    1x,
                  ./images/our-team-desk/john@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/our-team-tab/john.webp    1x,
                  ./images/our-team-tab/john@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/our-team-mob/john.webp    1x,
                  ./images/our-team-mob/john@2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/our-team-desk/john.jpg    1x,
                  ./images/our-team-desk/john@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/our-team-tab/john.jpg    1x,
                  ./images/our-team-tab/john@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/our-team-mob/john.jpg    1x,
                  ./images/our-team-mob/john@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./images/our-team-mob/john.jpg" alt="John Smith" />
            </picture>
          </div>
          <h3 class="name">John Smith</h3>
          <p class="profession">Extreme Barber</p>
          <div class="team-social">
            <a class="team-social-link" href="https://www.instagram.com/">
              <svg class="social-icon">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
            <a class="team-social-link" href="https://twitter.com/">
              <svg class="social-icon">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
            <a class="team-social-link" href="https://www.facebook.com/">
              <svg class="social-icon">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
            <a class="team-social-link" href="https://www.linkedin.com/">
              <svg class="social-icon">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="item">
          <div class="thumb">
            <picture>
              <source
                srcset="
                  ./images/our-team-desk/michele.webp    1x,
                  ./images/our-team-desk/michele@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/our-team-tab/michele.webp    1x,
                  ./images/our-team-tab/michele@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/our-team-mob/michele.webp    1x,
                  ./images/our-team-mob/michele@2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/our-team-desk/michele.jpg    1x,
                  ./images/our-team-desk/michele@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/our-team-tab/michele.jpg    1x,
                  ./images/our-team-tab/michele@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/our-team-mob/michele.jpg    1x,
                  ./images/our-team-mob/michele@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./images/our-team-mob/michele.jpg" alt="Michele Doe" />
            </picture>
          </div>
          <h3 class="name">Michele Doe</h3>
          <p class="profession">Extreme Barber</p>
          <div class="team-social">
            <a class="team-social-link" href="https://www.instagram.com/">
              <svg class="social-icon">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
            <a class="team-social-link" href="https://twitter.com/">
              <svg class="social-icon">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
            <a class="team-social-link" href="https://www.facebook.com/">
              <svg class="social-icon">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
            <a class="team-social-link" href="https://www.linkedin.com/">
              <svg class="social-icon">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </div>
        </li>
        <li class="item">
          <div class="thumb">
            <picture>
              <source
                srcset="
                  ./images/our-team-desk/alan.webp    1x,
                  ./images/our-team-desk/alan@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/our-team-tab/alan.webp    1x,
                  ./images/our-team-tab/alan@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/our-team-mob/alan.webp    1x,
                  ./images/our-team-mob/alan@2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767px)"
              />
              <source
                srcset="
                  ./images/our-team-desk/alan.jpg    1x,
                  ./images/our-team-desk/alan@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/our-team-tab/alan.jpg    1x,
                  ./images/our-team-tab/alan@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/our-team-mob/alan.jpg    1x,
                  ./images/our-team-mob/alan@2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img src="./images/our-team-mob/alan.jpg" alt="Alan Black" />
            </picture>
          </div>
          <h3 class="name">Alan Black</h3>
          <p class="profession">Extreme Barber</p>
          <div class="team-social">
            <a class="team-social-link" href="https://www.instagram.com/">
              <svg class="social-icon">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
            <a class="team-social-link" href="https://twitter.com/">
              <svg class="social-icon">
                <use href="./images/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
            <a class="team-social-link" href="https://www.facebook.com/">
              <svg class="social-icon">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
            <a class="team-social-link" href="https://www.linkedin.com/">
              <svg class="social-icon">
                <use href="./images/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
