<section class="section prices" id="prices">
  <div class="container prices">
    <p class="sub-title prices">Проведи время в компании лучших мастеров</p>
    <h2 class="prices-title">Услуги и цены</h2>
    <div class="prices-box">
      <ul class="price-list left">
        <li class="price-item">
          <span class="price-item-title">Мужская стрижка</span>
          <span class="underline"></span>
          <span>от 300 грн.</span>
        </li>
        <li class="price-item">
          <span class="price-item-title">Стрижка бороды</span>
          <span class="underline"></span>
          <span>от 200 грн.</span>
        </li>
        <li class="price-item">
          <span class="price-item-title">Стрижка усов</span>
          <span class="underline"></span>
          <span>от 200 грн.</span>
        </li>
        <li class="price-item">
          <span class="price-item-title">Бритье опасной бритвой</span>
          <span class="underline"></span>
          <span>от 200 грн.</span>
        </li>
      </ul>
      <ul class="price-list right">
        <li class="price-item">
          <span class="price-item-title">Cтрижка у стажера</span>
          <span class="underline"></span>
          <span>от 50 грн.</span>
        </li>
        <li class="price-item">
          <span class="price-item-title">Стрижка под насадку</span>
          <span class="underline"></span>
          <span>от 200 грн.</span>
        </li>
        <li class="price-item">
          <span class="price-item-title">Детская стрижка (до 12 лет)</span>
          <span class="underline"></span>
          <span>от 300 грн.</span>
        </li>
        <li class="price-item">
          <span class="price-item-title">Камуфлирование седины</span>
          <span class="underline"></span>
          <span>от 200 грн.</span>
        </li>
      </ul>
    </div>
    <a class="prices-order-link" href="#order-form" data-modal-open>онлайн-запись</a>
  </div>
</section>